body {
  background-color: #3498db; /* Light gray background */
  color: #333; /* Dark gray text */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 20px;
}

.heading h1 {
  color: #3498db; /* Blue heading text */
  font-size: 24px;
}

.instructions {
  margin-bottom: 20px;
  color: #555; /* Gray instruction text */
  font-size: 18px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed #3498db; /* Blue dashed border */
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
}

#fileInput {
  display: none; /* Hide the actual file input */
}

#imagePreview {
  max-width: 100%; /* Ensure the image preview fits within the container */
  max-height: 200px; /* Adjust as needed */
  margin-bottom: 10px; /* Add some space between the image preview and button */
}

#uploadButton {
  background-color: #3498db; /* Blue button background */
  color: #fff; /* White text on the button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition */
}

#uploadButton:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

button {
  background-color: #3498db; /* Blue button background */
  color: #fff; /* White text on the button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}